/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --qirmizi : red;
    --qara: black;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hslider__nav-btns, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hslider__nav-btns, menu, nav, section {
	display: block;
}

body{
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    width: 1140px;
    margin: 0px auto;
}
header{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 999;
} 
.header__logo{
    cursor: pointer;
}
 .header__logo i{
     font-size: 40px;
    color: brown;
    margin-right: 10px;

}
.header__logo-and-nav{
    display: flex;
    align-items: center;
}
.header__login-and-singUp{
    display: flex;
    align-items: center;
} 
 .header__logo h1{
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    margin-right: 50px;
}
.nav__links{
    display: flex;
}
.nav__link{ 
    position: relative;
    margin: 0 15px; 
} 
.nav__link i{
    font-size: 8px;
    color: #fff;
    position: absolute; 
    top: 0; 
    margin-top: 6px;
    margin-left: 5px;
    transition: all .2s ease-in-out
} 
.nav__link:hover i{
    transform: rotate(180deg);
}
 

.nav__link a {
    text-decoration: none;
    color:rgb(124, 122, 122);
    font-size: 18px;
}

.header__logo{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.header__content{
    max-width: 1140px;
    width: 100vw; 
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.header__login-btn{
    margin-right: 20px;
}
.header__login-btn button{
    width: 160px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: brown;  
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 5px;
}
.header__singUp {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background: #999;
    position: relative;
}
.header__singUp a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}
.header__singUp i{
    font-size: 12px;
    color: #000;
    display: block;
}
.box{
    height: 700px;
    width: 100vw;
    background:black;
}
@media (max-width: 1200px) {
    .header__login-btn button{ 
         text-transform: lowercase;  
    }
}
@media (max-width: 996px) {
    .header__login-btn button{ 
         text-transform: uppercase;  
    }
    .header__content,
    .header__logo-and-nav{
        flex-direction: column;
    }
}
.slider{
    height: 630px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:rgb(27, 24, 24);
    background-position-x: -300px; 
    background-image: url('./img/in-liquid-slide-bg\ \(1\).png');
}
.slider__text-img{
    z-index: 7;
    position: relative;
    display: flex;
    justify-content: space-between; 
}
.slider__text{
    width: 50%;
}
.slider__text h1{
   padding: 100px 50px 20px 70px;
   color: white;
   font-size: 60px;
   font-weight: bold;
   font-family: sans-serif;
}
 .slider__text p{
    padding: 0px 60px 60px 60px;
     margin-top: 25px;
     color:rgb(187, 179, 179);
     font-size: 23px;
 }
 .slider__text button{
    cursor: pointer;
    z-index: 9;
    
     padding: 10px;
     background-color:transparent;
     border: 1px solid red;
     height: 40px;
     border-radius: 5px;
     transition: .3s ;
     margin-left: 60px;
     font-weight: bold;
     font-family: sans-serif;
     color: white;

 }
 .slider__text button:hover{
     border: 1px solid #fff;
 }
 .slider__img img{
     padding: 40px;
 }
 .slider__nav-btns{
     z-index: 2;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
 }
 .slider__nav-item {
     position: relative;
     z-index: 20;
     cursor: pointer;
 }
.slider__nav-item i{
    z-index: 5;
     color: rgb(160, 158, 158);
     font-size: 30px;
     left: 5px;
     bottom: 40px;
}
.slider__nav-item i {
    color: rgb(160, 158, 158);
    font-size: 30px;
}
.tools{
    box-sizing: border-box;
    width: 100%;
    height: 610px;
    background-color: black;
}

.tools_text{
    font-size: 34px;
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
}
.tools__text-button{
padding: 40px 0px 40px 0px;
display: flex;
justify-content: space-between;
}
.tools_text h1 span{
    color:  #fc5b3f;
}
.tools_button{
    width: 160px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;

}
.tools_button h1{
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 15px;
    margin-left: 10px;
}
.tools__column{
    width: 100%;
    height:614px ;
    display: flex;
    justify-content: space-around;
} 
.tools__column-item{
    overflow: hidden;
    width: 350px;
    height: 350px;
    background-color: rgb(39, 35, 35);
    border-radius: 5px;
    position: relative;
}
.tools__column-item-img {
    position: absolute;
    right: 0;
    top: 0px;
}
.tools__column-item-img img{
    position: absolute;
    right: -15px;
    top: -90px;
    width: 300px;
    height: 300px;
}
.tools__column-item-text{
    width: 280px;
    height: 200px;
}
.tools__column-item-text h1{
font-size: 24px;
font-weight: bold;
font-family: sans-serif;
text-align: center;
color: white;
padding-top: 210px;

}
.tools__column-item-text p{
    color: #ffffffb3;
    text-align: center;
    margin-left: 40px;
    font-size: 17px;
}
.services{
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    background-color: #ffefec;
}
.services__content-item{
 
    padding: 60px 0 0 0;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.services__content-item:nth-child(n+3){
margin-top: 20px;
}
.services__content-icon{
    width: 73px;
    height: 146px;
}
.services__content-img img{
    padding: 0 20px 0 0;
    font-size: 40px;
}
.services__content-text h1{
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}
.services__content-text p{
    padding: 40px 0 0 0;
    font-size: 17px;
    color: #717070;
}
.services__content-items{
    display: flex;
    flex-wrap: wrap;
}
