@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
:root{
  --bg:#000;
  --main-color:#d3ad7f;
  --border :.1rem solid rgba(255, 255,255, .3);
  --colorCC: #ccc;
  --black: #13131a;
}
html{
  font-size: 62.5%;
}
html::-webkit-scrollbar{
  width: .8rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
body{
  height: auto;
  background-color: var(--bg);
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  overflow-x: hidden;
}
.heading{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
}
.heading span{
  text-transform: uppercase;
  color: var(--main-color);
}
.btn{
  margin-top: 1rem;
  display: inline;
  padding: .7rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.btn:hover{
  letter-spacing: .2rem;
  color: #fff;
}