@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');
:root{
  --color1:red;
  --colorWhite:#fff;
  --color3:rgb(114, 35, 35);
  
  --main-color:#eaa023;
  --dark: black;
  --dark-light:#191f3a;
  --white:#ffffff;
  --white-light:#c8c8c8;
  --color-benefit: #007f52;
  --color-cta-primary: #2196f3;
  --color-bg-gray-4: #212121;
  --color-font-cyan: #2196f3;
  --shadow : 0 0 15px rgba(0,0,0,0.25);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
header{
  width: 100%;
  height: 20vh;
  background-color: var(--dark) ;
}
.container__navbar{
  padding: 18px 135px 0 50px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.navbar__link .icon i{
  color: var(--colorWhite);
  font-size: 30px;
}
.navbar__link .rotate i{
  font-size: 13px;
}
.navbar__link .sale {
  color:var(--color1) ;
}
.navbar__link .sale i{
  font-size: 13px;
}
.navbar__link a{
  text-decoration: none;
  color: var(--colorWhite);
  font-size: 18px;
  margin-left: 45px;
}
.navbar__link span{
  font-weight: bold;
}
.navbar__icons{
  display: flex;
 justify-content: space-between;
 align-items: center;
}
.navbar__icons i{
  color: var(--colorWhite);
  font-size: 19px;
  margin-left: 13px;
}
.navbar__icons i:hover{
  cursor: pointer;
}
.container__input{
  position: relative;
  margin: 20px 0 0 70px;
}
.container__input input{
  outline: none;
  width: 90%;
  height: 7vh;
  background-color: rgb(44, 40, 40);
  border-radius: 5px;
  border: none;
}
.container__input i{
  position: absolute;
  top: 12px;
  right: 140px;
  color: var(--colorWhite);
  font-size: 20px;
}
.container__input ::placeholder{
  font-size: 20px;
  padding-left: 30px;
}
/*==================HEADER=================*/
section{
  width: 100%;
}
.section__container{
  width: 100%;
  height: auto;
}
.section__container-texts{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section__container-text{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:10px 70px 0 20px;
  margin-top: 30px;
  border-right: 1px solid rgb(201, 196, 196);
}
.section__container-text i{
  font-size: 17px;
  margin-right: 6px;
  color: var(--color-benefit);
}
.section__container-text h1{
  font-weight: 700;
  font-size: 15px;
  margin-left: 3px;
}
.section__container-div{
  padding: 40px 60px 0 60px;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
}
.section__container-div-text{
  background-color: rgb(13, 48, 107);
  width: 40%;
  height: 60vh;
  padding: 100px 10px 0 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  
}
.section__container-div-text p{
  color: rgb(255, 253, 253);
  font-size: 16px;
}
.section__container-div-text h1{
  color: var(--colorWhite);
  padding: 15px 0 15px 0;
  font-size: 30px;
}
.section__container-div-text h2{
   font-size: 19px;
   color: var(--colorWhite);
   font-weight: 100;
   padding-bottom: 20px;
   margin: 0 auto;
   text-align: justify;
}
.section__container-div-text  button{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--color-cta-primary);
  color: var(--colorWhite);
  font-size: 17px;
  font-weight: bold;
}
.section__container-div-text  button:hover{
  cursor: pointer;
  border: none;
  background-color: var(--color-cta-primary);
 
}
.section__container-div-img img{
  width: 100%;
  height: 60vh;
  background-size: cover;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
/*============SECTION 1==============*/
.section__staff-picks .section__staff-text h1{
  margin: 100px 0 30px 70px;
}
.section__staff-divs{
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section__staff-div{
  width: 300px;
  height: 300px;
}
.section__staff-div img{
  width: 300px;
  border-radius: 5px;
  height: 200px;
}
.section__staff-div h1{
  padding: 0px 0 20px 0;
  font-weight: bold;
  font-size: 17px;
}
.section__staff-div p{
  font-size: 16px;
  color:rgb(59, 58, 58);
  text-align: justify;
}
/*=========SECTION STAFF-PICKS==========*/
.section__popularassest{
  margin-left: 30px;
}
.section__popularassest .popular{
  margin-left: 30px;
  font-weight: bold;
  padding: 60px 0 0px 0;
}
.section__popularassest-links{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 7px;
  padding-right: 490px;
}
.section__popularassest-links a{
  text-decoration: none;
  color: gray;
  font-size: 14px;
  border-bottom: 2px solid gray;
  

}
.section__popularassest-links .blue{
  color:var(--color-font-cyan) ;
  border-bottom: 2px solid var(--color-font-cyan);
}
.section__popularaassest-divs{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.section__popularaassest-div{
  width: 270px;
  height: 320px;
  margin-left: 20px;
}
.section__popularaassest-div img{
  width: 240px;
  height: 150px;
  border-radius: 5px;
  cursor: pointer;
}
.section__popularaassest-div p{
  padding: 7px 0 10px 0;
  color: gray;
  font-size: 14px;
}
.section__popularaassest-div h1{
  padding: 0 0 5px 0;
  font-size: 16px;
  font-weight: 200;
}
.section__popularaassest-div i{
  color: #2b2929;
  font-size: 13px;
}
.div-dollar{
  display: flex;
}
.div-dollar p{
  font-size: 15px;
  color: var(--dark);
}
.div-dollar h1{
  cursor: pointer;
  padding:  10px 0 0 25px;
  font-size: 14px;
  color: var(--color-cta-primary);
}
.div-dollar i{
  font-size: 14px;
  color: var(--color-cta-primary);
}
/*======SECTION POPULARREST=========*/

@media (max-width:1200px){
  .section__container-text{
    padding:10px 10px 0 20px;
  }
  .section__container-div-text {
    padding-top: 30px;
  }
  .section__staff-div{
    width: 250px;
  }
  .section__staff-div img{
    width: 267px;
  }
  .section__popularaassest-div img{
    width: 220px;
  }
  .section__popularaassest-div{
    width: 272px;
  }
  .section__popularaassest-divs{
    padding-top: 20px;
  }
  .popular{
    margin-top: 40px;
  }
  .section__popularassest-links {
    margin-left: 1px;
}
}
@media (max-width:996px) {
  .section__container-texts{
    display: flex;
    flex-direction: column;
  }
  .section__container-div-text h2{
    font-size: 16px;
  }
  .section__container-div-text h1{
    font-size: 25px;
  }
  .section__staff-div img{
    width: 216px;
  }
  .section__staff-div{
    width: 213px;
  }
  .section__staff-div p{
    font-size: 13px;
  }
  .container__input{
    margin: 12px 0 0 70px;
  }
  .container__navbar {
    padding: 18px 104px 0 50px;
  }
  header{
    height: 17vh;
  }
  .container__input {
    margin: 1px 0 0 70px;
  }
  
}
@media (max-width:764px) {
  .navbar__link a{
    font-size: 13px;
  }
  .container__navbar{
    padding: 6px 38px 0 26px;
  }
  .navbar__icons i{
    font-size: 13px;
  }
  .container__input i{
    right: 87px;
  }
  .container__input ::placeholder{
    font-size: 16px;
  }
  .navbar__link a {
    font-size: 11px;
    margin-left: 20px;
  }
  .container__navbar {
    padding: 5px 69px 0 51px;
   }
   .section__container-texts {
    padding: 0 42px 0 42px;
    flex-direction: column;
  }
  .section__container-text{
    margin-top: 10px;
  }
  .section__container-div-text p {
    font-size: 11px;
  }
  .section__container-div-text h1 {
    font-size: 17px;
  }
  .section__container-div-text h2 {
    font-size: 12px;
  }
  .section__staff-div {
    width: 222px;
  }
  .section__staff-divs {
    padding: 1px 261px 0 200px;
    margin: 0 auto;
    justify-content: center;
}
  .section__staff-div img {
    height: 176px;
  }
  .section__staff-picks .section__staff-text h1 {
    margin: 300px 0 30px 300px;
}
  .section__staff-picks .section__staff-text h1 {
    margin: 100px 0 30px 105px;
  }
  .section__popularassest .popular {
    margin-left: 76px;
  }
  .section__popularassest-links a {
    font-size: 14px;
  }
  .section__popularassest-links {
    margin-left: 47px;
  }
  .section__popularaassest-divs {
    padding-left: 50px;
  }
   
  
}
@media (max-width:596px) {
  .section__container-div {
    display: flex;
    flex-direction: column;
  }
   .section__container-div-text {
     width: 100%;
  }
  .section__container-div-text button{
    margin-bottom: 20px;
  }
  .section__container-div-img img{
    padding-bottom: 103px;
  }
  .section__staff-picks{
   padding-top: 100px;
  }
  .section__staff-picks .section__staff-text h1{
    text-align: center;
    margin: 100px 0 30px 80px;
  }
  .section__popularassest-links {
    margin-left: 0px;
  }
  .section__popularassest-links a {
    font-size: 11px;
  }
  .section__popularaassest-div {
    width: 200px;
  }
  .section__popularaassest-div img {
    width: 190px;
  }
  .section__popularaassest-divs {
    padding-left: 23px;
  }
  .section__popularassest .popular {
    margin-left: 160px;
  }
  
}
@media (max-width:480px) {
  .section__staff-picks .section__staff-text h1 {
    text-align: center;
    margin: 100px 7px 30px 0px;
  }
  .section__popularassest .popular {
    margin-left: 106px;
    padding: 16px 0 20px 0;
  }
  .section__staff-picks .section__staff-text h1 {
    margin: 300px 83px 0px 0px;
    text-align: center;
  }
  }
  .section__popularassest-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
    padding-top: 37px;
    padding-right: 0px;
  }
  .section__popularassest-links a{
    margin: 12px 0 0px 1px;
  }
  .section__popularaassest-div img {
    width: 187px;
  }
  .section__popularaassest-div {
    width: 179px;
    margin-top: 30px;
  }
  .section__popularaassest-divs {
    padding-left: 0px;
  }

@media (max-width:1170px) {
  .section__staff-div img {
    width: 258px;
  }
  .section__popularassest-links {
    margin-left: 0px;
  }
  
}
@media (max-width: 1132px) {
  .section__staff-div img {
    width: 238px;
  }
  .section__staff-div {
    width: 239px;
  }
  .section__staff-divs {
    margin: 0 181px 0 0px;
  }
  .section__staff-div {
    width: 291px;
    margin-top: 68px;
  }
  .section__staff-div img {
    width: 291px;
  }
  .section__staff-divs {
    padding: 0px 80px 0 0px;
  }
}
@media (max-width: 834px){
  .section__popularassest-links a {
    margin: 10px 0 0px 26px;
  }
  .section__container-div {
    display: flex;
    flex-direction: column;
  }
   .section__container-div-text {
     width: 100%;
  }
  .section__container-div-text button{
    margin-bottom: 20px;
  }
  .section__container-div-img img{
    padding-bottom: 103px;
    height: 70vh;
  }
  .section__staff-divs {
    padding: 0px 80px 0 200px;
  }
  .section__staff-picks .section__staff-text h1 {
    margin: 300px 0 30px 300px;
  }
  .section__staff-divs {
    padding: 1px 261px 0 200px;
    margin: 0 auto;
    justify-content: center;
}
}